.header-admin {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-admin-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-admin a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
    font-style: italic;
}

.nav-admin {
    display: flex;
    gap: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-admin a {
    color: #333333;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.nav-admin a i {
    margin-right: 8px;
    color: #333333;
}

.nav-admin a:hover {
    color: #a855f7;
}

.nav-admin a:hover i {
    color: #a855f7;
}

.world-button-admin {
    padding: 10px 20px;
    background-color: transparent;
    color: #333333;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 3px solid #333333;
}

.world-button:hover {
    background-color: #a855f7;
    color: #ffffff;
    border-color: #a855f7;
}

@media (max-width: 768px) {
    .header-container {
        padding: 0 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo a {
        font-size: 30px;
    }

    .nav {
        position: static;
        transform: none;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        align-items: flex-start;
    }

    .nav a {
        font-size: 18px;
        padding: 8px 0;
    }

    .world-button {
        width: 100%;
        margin-top: 1rem;
    }
}
.logout-button-admin {
    background-color: #e74c3c;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 120px;
  }
  
  .logout-button-admin:hover {
    background-color: #c0392b;
  }
  
  