.header-user {
  background-color: #4D006E;
  transition: all 0.3s ease;
  padding: 1rem 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-user-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo a {
  color: #01A85A;
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
  font-style: italic;
}

.nav {
  display: flex;
  gap: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.nav a i {
  margin-right: 8px;
  color: #ffffff;
}

.nav a:hover {
  color: #a855f7;
}

.nav a:hover i {
  color: #a855f7;
}

.world-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 3px solid #ffffff;
  width: 300px;
}

.world-button:hover {
  background-color: #a855f7;
  color: #ffffff;
  border-color: #a855f7;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* ------------------ MOBILE STYLES ------------------ */
@media (max-width: 768px) {
  .nav,
  .world-button {
    display: none;
  }

  .menu-toggle {
    display: block;
    font-size: 1.6rem;
  }

  .header-user {
    padding: 0.3rem 0;
  }

  .header-user-container{
    padding: 0 0.5rem;
  }

  .logo a {
    font-size: 22px;
  }

  .left-group {
    gap: 0.5rem;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100vh;
    background-color: #4D006E;
    padding: 1.5rem 0.8rem;
    flex-direction: column;
    gap: 1rem;
    transition: left 0.3s ease;
    z-index: 999;
  }

  .mobile-nav.active {
    left: 0;
  }

  .mobile-nav a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
  }

  .mobile-nav a:hover {
    color: #a855f7;
  }
}
